.page {
    max-width: 1280px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1179px) {
    .page {
        max-width: 1024px;
    }   
}

@media screen and (max-width: 950px) {
    .page {
        max-width: 768px;
    }   
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
    }   
}