.header {
  height: 52px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding: 52px 48px 28px 48px;
  
}



@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header {
       max-width: 1024px;
  }   
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
       max-width: 768px;
   }   
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .header {
       max-width: 425px;
   }   
}

@media screen and (max-width: 425px) {
  .header {
       max-width: 320px;
   }   
}