.intro__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26.08px;
    margin: 0;
    margin: 40px 0px 33px 0px;
}

@media screen and (max-width: 767px) {
    .intro__text {
        max-width: 288px;
        margin: 40px 0px 34px 0px;
    }
}