.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .footer__column {
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
  }
}
