.place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: repeat(2, auto);
    gap: 48px 40px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1200px) {
    .place {
        grid-template-columns: 440px 456px;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        row-gap: 32px;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
    }
}